//blocks

.section-block{
    @include media(">=desktop") {
        scroll-snap-align: start;
    }

    &__content, &__header{
        padding: 0 $dft-spacing;

        @include media(">=desktop") {
            padding: 0 10vw;
            margin-top: rem(100px);
        }
    }
}