//blocks

.section-block {
    position: relative;
    display: flex;
    flex-direction: column;

    @include media("<desktop") {
        & + .section-block {
            padding-top: rem(50px);
        }
    }
    @include media(">=desktop") {
        display: block;
        min-height: 100vh;
    }

    @include media(">=widescreen") {
        scroll-snap-align: start;
        height: 100vh;
        min-height: inherit;
    }

    &__content,
    &__header {
        padding: 0 $dft-spacing;

        @include media(">=desktop") {
            padding: 0 10vw;
        }
    }

    &__content {
        width: 100%;
        @include media(">=tablet") {
            width: 80vw;
        }
        @include media(">=desktop") {
            width: 60vw;
            padding-right: 0;
        }
    }

    &__header {
        padding-bottom: rem(50px);
        @include media(">=desktop") {
            padding-top: rem(100px);
            padding-bottom: rem(100px);
        }
    }
}
