//list

%list-base {
    padding-left: 0;
    list-style-type: none;
}

.list {
    @extend %list-base;
    &--text {
        @include media(">=desktop") {
            -moz-column-count: 2;
            column-count: 2;
            -moz-column-gap: rem(80px);
                 column-gap: rem(80px);
        }
        li {
            position: relative;
            -moz-column-break-inside: avoid;
            break-inside: avoid-column;
            margin-bottom: $dft-spacing;
            padding-bottom: $dft-spacing;

            & > * {
                padding-bottom: $dft-spacing-sm;
            }

            &:not(:last-child) {
                &::after {
                    content: "";
                    @extend .separator;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    margin: 0;
                }
            }

            @include media(">=desktop") {
                margin-bottom: rem(50px);
                padding-bottom: rem(50px);
                &:nth-of-type(even) {
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
}
