//header
%null-appearance {
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    box-shadow: none;
    cursor: pointer;
}

.header {
    height: $dft-header-h;
    width: 100vw;
    background-color: $c-white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: $dft-spacing $dft-spacing-sm;
    color: $c-dark;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: $z-top;

    @include media(">=desktop") {
        width: $dft-header-h;
        height: 100vh;
        flex-direction: column;
    }

    & > * {
        flex: 1 1 100%;
        text-align: center;
        justify-content: center;
        &:first-child {
            text-align: left;
            justify-content: flex-start;
        }
        &:last-child {
            text-align: right;
            justify-content: flex-end;
            & > * {
                width: rem(24px);
            }
        }
    }

    &__nav-btn,
    &__brand,
    &__contact {
        z-index: $z-top;
    }
    &__nav-btn {
        position: relative;
        font-size: rem(30px);
        color: $c-dark;
        @extend %null-appearance;

        .header__brand-logo {
            @include media("<desktop") {
                &.close,
                &.open {
                    display: none;
                }
            }
            @include media(">=desktop") {
                display: block;
                position: fixed;
                right: $dft-spacing-sm;
                top: rem(32px);
                height: rem(30px);
            }
        }

        &:hover {
            color: $c-primary;
        }

        .open {
            display: block;
        }
        .close {
            display: none;
        }
        &.show {
            .open {
                display: none;
            }
            .close {
                display: block;
            }
            .header__brand-logo {
                @include media("<desktop") {
                    &.close,
                    &.open {
                        display: none;
                    }
                }
            }
        }
    }
    &__brand {
        white-space: nowrap;
        text-align: center;
        font-weight: $fw-bold;
        @include font-fluid(20, 14);
        display: flex;
        align-items: center;

        &-logo {
            height: rem(15px);
            display: inline-block;
            padding-right: $dft-spacing-sm;
            @include media(">=desktop") {
                display: none;
            }
        }

        @include media(">=desktop") {
            transform: rotate(-90deg);
            transform-origin: center;
        }
    }
    &__nav-menu {
        background-color: $c-white;
        position: fixed;
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 20%;

        li {
            font-size: rem(24px);
            display: flex;
            align-items: center;
            height: rem(80px);
            a {
                color: $c-dark;
                position: relative;
                text-decoration: none;
                font-weight: $fw-light;
                padding-right: rem(15px);

                &::before {
                    content: "";
                    position: absolute;
                    bottom: rem(5px);
                    left: 0;
                    background-color: $c-primary;
                    width: 0;
                    height: rem(12px);
                    z-index: $z-deep;
                    transition: $dft-transition;
                }
            }

            &.active,
            &:hover {
                a {
                    &::before {
                        width: 100%;
                        transition: $dft-transition;
                    }
                }
            }
            &.active {
                a {
                    font-weight: $fw-bold;
                }
            }
            @include media(">=desktop") {
                font-size: rem(50px);
                height: rem(130px);
                a {
                    &::before {
                        height: rem(24px);
                    }
                }
            }
        }
    }

    &__contact {
        display: flex;
        flex-direction: row;
        font-size: rem(24px);
        * {
            color: $c-dark;
            &:hover {
                color: $c-primary;
            }
        }

        @include media(">=desktop") {
            flex-direction: column;
        }
    }
}

.hidemenu {
    transform: translateY(-100%);
    transition: $dft-transition;
    @include media(">=desktop") {
        transform: translateX(-100%);
    }
}
.showmenu {
    @include media("screen", "<desktop") {
        -webkit-animation-name: bounceInTop;
        animation-name: bounceInTop;
        -webkit-animation-duration: 0.5s;
        animation-duration: 0.5s;
    }
    @include media("screen", ">=desktop") {
        -webkit-animation-name: bounceInLeft;
        animation-name: bounceInLeft;
        -webkit-animation-duration: 0.5s;
        animation-duration: 0.5s;
    }
}
