//custom slick

.slick-arrow {
    z-index: $z-up;
    &::before {
        font-family: $icon-family;
    }

    &.slick-next {
        right: 0;
        &::before {
            content: "\F0054";
        }
    }

    &.slick-prev {
        left: 0;
        &::before {
            content: "\F004D";
        }
    }
}

.slider__main {
    .slick-arrow {
        top: auto;
        bottom: calc(#{$dft-indicator-h} / 2);
        width: rem(64px);
        height: rem(28px);
        &::before {
            font-size: rem(28px);
        }

        @include media(">=desktop") {
            &.slick-prev {
                left: 10vw;
            }
            &.slick-next {
                left: calc(10vw + #{rem(64px)});
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    width: 1px;
                    height: 100%;
                    background-color: $c-white;
                }
            }
        }
    }
    &-wrapper{
        .title{
            position: absolute;
            z-index: $z-up;
        }
    }
    &-pic {
        height: calc(100vh - #{$dft-header-h});

        .row {
            padding: 0;
            margin: 0;
        }
        img {
            -o-object-fit: cover;
            object-fit: cover;
            width: 100%;
            height: 100%;
            opacity: 0.5;
        }

        @include media(">=desktop") {
            height: 100vh;
        }
    }

    &-img{
        margin: 0;
        height: 50vw;
        width: 100%;
        overflow: hidden;
        @include media(">=desktop") {
            height: 100vh;
        }
    }

    &-info {
        @include media(">=desktop") {
            margin-top: rem(90px);
            padding: 0 $dft-spacing;
            height: calc(100% - (#{$dft-indicator-h} + #{$dft-spacing} * 4));
            overflow-y: auto;
        }
    }
}

.slider__indicator {
    cursor: pointer;
    
    @include media(">=desktop") {
        transform: translateY(-14vw);
        height: 0;
        width: 60vw;
        margin-left: auto;

        .slick-track {
            overflow: hidden;
            display: flex;
        }
    }

    .slick-slide{
        &:hover{
            .slider__indicator-pic{
                opacity: 1;
            }
         }
        .slider__indicator-pic{
            opacity: 60%;
            border: 2px solid transparent;
            
        }
    }
    .slick-current {
        .slider__indicator-pic{
            opacity: 1;
            border-color: $c-white;
        }
    }

    &-pic {
        position: relative;
        width: 80% !important;
        margin: auto;
        border-radius: $borderR-xs;
        overflow: hidden;
        

        &::before {
            content: "";
            padding-top: 100%;
            display: block;
        }

        
        img {
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            margin: auto;
        }
    }
}
