//custom slick

.slick-arrow {
    z-index: $z-up;
    &::before {
        font-family: $icon-family;
    }

    &.slick-next {
        right: 0;
        &::before {
            content: "\F0054";
        }
    }

    &.slick-prev {
        left: 0;
        &::before {
            content: "\F004D";
        }
    }
}

.slider__main {
    order: 2;
    @include media(">=desktop") {
        order: 1;
    }
    .slick-arrow {
        top: calc(#{$dft-spacing-mobile} + (#{$dft-spacing} * 1.5));
        bottom: 0;
        width: rem(64px);
        height: rem(28px);
        &::before {
            font-size: rem(28px);
        }
        @include media(">=tablet") {
            top: calc(#{$dft-spacing-mobile} + (#{$dft-spacing} * 2.25));
        }
        @include media(">=desktop") {
            top: auto;
            bottom: calc(#{$dft-indicator-h} / 2);
            &.slick-prev {
                left: 10vw;
            }
            &.slick-next {
                left: calc(10vw + #{rem(64px)});
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    width: 1px;
                    height: 100%;
                    background-color: $c-white;
                }
            }
        }
    }
    &-wrapper {
        height: $dft-spacing-mobile;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: $z-up;

        @include media(">=desktop") {
            margin-top: rem(100px);
            height: auto;
        }

        .title {
            margin-left: $dft-spacing;
            @include media("<desktop") {
                &::after {
                    display: none;
                }
            }
            @include media(">=desktop") {
                margin-left: 10vw;
            }
        }
    }
    &-pic {
        .row {
            padding: 0;
            margin: 0;
        }
        img {
            -o-object-fit: cover;
            object-fit: cover;
            width: 100%;
            height: 100%;
            opacity: 0.5;
        }

        @include media(">=desktop") {
            height: 100vh;
        }
    }

    &-img {
        margin: 0;
        height: $dft-spacing-mobile;
        width: 100%;
        overflow: hidden;
        @include media(">=desktop") {
            height: 100vh;
        }
    }

    &-info {
        padding: $dft-spacing;
        padding-top: rem(100px);
        @include media(">=tablet") {
            padding-top: rem(180px);
        }
        @include media(">=desktop") {
            margin-top: rem(90px);
            padding: 0 $dft-spacing;
            height: 55vh;
            overflow-y: auto;
            margin-left: auto;
            margin-right: auto;
            width: 65%;
        }
        @include media(">=widescreen") {
            height: 65vh;
        }
        .title {
            margin-bottom: (32px);
            @include media(">=desktop") {
                margin-bottom: rem(42px);
            }
        }
    }
}

.slider__indicator {
    cursor: pointer;
    order: 1;
    height: 0;
    transform: translateY(calc(#{$dft-spacing-mobile} + #{$dft-spacing-sm}));
    width: 70%;
    margin: auto;
    @include media(">=desktop") {
        height: auto;
        order: 2;
        transform: translateY(-14vw);
        height: 0;
        width: 60vw;
        margin-left: auto;
        margin-right: 0;

        .slick-track {
            overflow: hidden;
            display: flex;
        }
    }

    .slick-slide {
        &:hover {
            .slider__indicator-pic {
                opacity: 1;
            }
        }
        .slider__indicator-pic {
            opacity: 60%;
            border: 2px solid transparent;
        }
    }
    .slick-current {
        .slider__indicator-pic {
            opacity: 1;
            border-color: $c-white;
        }
    }

    &-pic {
        position: relative;
        width: 80% !important;
        margin: auto;
        border-radius: $borderR-xs;
        overflow: hidden;

        &::before {
            content: "";
            padding-top: 100%;
            display: block;
        }

        img {
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            margin: auto;
        }
    }
}
