//text
%title-base {
    font-family: $dft-family;
    font-weight: $fw-bold;
    color: $c-white;
}

%text-base {
    font-family: $secondary-family;
    font-weight: $fw-light;
    color: $c-white;
    letter-spacing: 0.05em;
}

.title {
    @extend %title-base;

    &--main {
        @include font-fluid(80, 32);
        position: relative;
        padding-top: $dft-spacing;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: $c-white;
            @include media(">=tablet") {
                width: 80%;
            }
            @include media(">=desktop") {
                width: $dft-spacing-mobile;
            }
        }
    }

    &--block {
        @include font-fluid(20, 14);
        @include font-height(32, 28);
    }
}

.text {
    @extend %text-base;

    &[href^="*"]{
        &:hover{
            color: $c-primary;
        }
    }

    &--block {
        font-size: rem(14px);
        line-height: rem(28px);
    }

    &--detail {
        font-family: $dft-family;
        @include font-fluid(16, 14);
        @include font-height(32, 28);
        font-weight: $fw-medium;
    }

    &--xl{
        @include font-fluid(20, 18);
        @include font-height(32, 28);
        font-weight: $fw-medium;
    }
}
