* {
    transition: $dft-transition;
    box-sizing: border-box;
}

body {
    height: 100%;
}

main {
    padding-top: $dft-header-h;
    @include media(">=tablet") {
        padding-top: 0;
        padding-left: $dft-header-h;
    }
}

img {
    max-width: 100%;
}
