* {
    transition: $dft-transition;
    box-sizing: border-box;
}

body {
    height: 100%;
}

main {
    padding-top: rem(74px);
    @include media(">=tablet") {
        padding-top: 0;
        padding-left: rem(74px);
    }
}
