* {
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

main {
    padding-top: $dft-header-h;
    @include media(">=desktop") {
        padding-top: 0;
        padding-left: $dft-header-h;
    }
}

img {
    max-width: 100%;
}
