// colors
$c-white: #ffffff;
$c-black: #000000;
$c-primary: #00ee99;
$c-secondary: #ff9900;
$c-error: #ff1e00;
$c-dark: #1a1a1a;

//transition
$dft-transition: all 0.5s linear;

//spaces
$dft-spacing-xl: rem(50px);
$dft-spacing: rem(30px);
$dft-spacing-sm: rem(16px);
$dft-header-h: rem(74px);
$dft-indicator-h: rem(200px);
$dft-spacing-mobile: 50vw;

//breakpoints
$xs: 320;
$md: 768;
$lg: 1024;
$xl: 1500;

$breakpoints: (
    "phone": 320px,
    "tablet": 768px,
    "desktop": 1024px,
    "widescreen": 1500px,
);

//other
$dft-borderR: rem(20px);
$borderR-sm: rem(15px);
$borderR-xs: rem(5px);

//fonts
$dft-family: "Sora", sans-serif;
$secondary-family: "Hepta Slab", serif;
$icon-family: "Material Design Icons";

//font weight
$fw-light: 200;
$fw-regular: 300;
$fw-bold: 700;

//z-index
$z-deep: -1;
$z-over: 1;
$z-up: 5;
$z-top: 10;
$z-base: 0;
